#gc-container {
  background: #C8C8C8;
  min-width: 900px;
  max-width: 1090px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid #505050 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#gc-container .control-panel {
  background: #E0E0E0;
  width: 40%;
  height: 560px;
  float: left;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid #356AA0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#gc-container .jxgbox {
  background: white;
  width: 58%;
  height: 560px;
  float: right;
  overflow: hidden;
  vertical-align: top;
  box-sizing: border-box;
  border: solid #356AA0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#gc-container input, #gc-container label, #gc-container button {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

#gc-container .error-message {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: red;
  display: none;
}

#gc-container #function-tabs {
  height: 385px;
  overflow: hidden;
}

#gc-container span.small-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

#gc-container input.small-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  width: 50px;
}

input[type="checkbox"] {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type=checkbox] + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox]:focus + label {
  color: #4479BA;
}

input[type=checkbox]:hover + label {
  color: #4479BA;
}

input[type=checkbox] + label:hover {
  color: #4479BA;
}

input[type=checkbox]:checked + label > i.fa-square-o {
  display: none;
}

input[type=checkbox]:checked + label > i.fa-check-square-o {
  display: inline-block;
  letter-spacing: 0.5em;
}

input[type=checkbox] + label > i.fa-square-o {
  display: inline-block;
  letter-spacing: 0.65em;
}

input[type=checkbox] + label > i.fa-check-square-o {
  display: none;
}

#gc-container .mathjax-output  {
  font-size: 18px;
}

#gc-container .line {
  width: 100%;
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
}

#gc-container .half-line {
  width: 100%;
  float: left;
  margin-top: 10px;
  box-sizing: border-box;
}

#gc-container .quarter-line {
  width: 100%;
  float: left;
  margin-top: 5px;
  box-sizing: border-box;
}

#gc-container .input-text {
  height: 30px;
  box-sizing: border-box;
  width: 100%;
}

#gc-container .button {
  color: #FFF;
  background: #4479BA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px;
  padding: 7px 14px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#gc-container .button:hover, #gc-container .gr-calc:focus {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}

#gc-container .button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}