.ui-widget {
  font-size: 80%; }

/* 
// Use the following to enable vertical scrollbars on tab
.ui-tabs-panel {
  height: 425px;
  overflow-x: hidden;
  overflow-y: auto;
}
*/
.container {
  background: #c8c8c8;
  min-width: 667px;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid #505050 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
.container::after {
  clear: both;
  content: "";
  display: table; }
.container .control-panel {
  background: #e0e0e0;
  width: 100%;
  height: 500px;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid #356aa0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
.container .jxgbox {
  background: white;
  width: 100%;
  height: 500px;
  overflow: hidden;
  vertical-align: top;
  box-sizing: border-box;
  border: solid #356aa0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
.container input, .container label, .container button, .container .error-message, .container .regular-text, .container .mathjax-output, .container .ui-tabs .ui-tabs-nav li a {
  font-family: "Open Sans", "Verdana", "Geneva", sans-serif;
  font-weight: 400;
  font-size: 14px; }
.container .error-message {
  color: red;
  display: none; }
.container #function-tabs {
  height: 375px;
  overflow: hidden; }
.container span.regular-text {
  margin-right: 10px; }
.container input {
  box-sizing: border-box;
  padding: 2px; }
.container input.regular-text {
  width: 60px; }
.container input.wide-text {
  width: 100%; }
.container .mathjax-output {
  padding-left: 2px; }
.container .line, .container .full-line, .container .half-line, .container .quarter-line {
  width: 100%;
  float: left;
  display: inline-block;
  box-sizing: border-box; }
.container .full-line {
  margin-top: 20px; }
.container .half-line {
  margin-top: 10px; }
.container .quarter-line {
  margin-top: 5px; }
.container .button {
  color: white;
  background: #4479ba;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px;
  padding: 5px 10px;
  margin-right: 2px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s; }
.container .button:hover, .container #gc-container .gr-calc:focus {
  background: #356094;
  border: solid 1px #2a4e77;
  text-decoration: none; }
.container .button:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2e5481;
  border: solid 1px #203e5f; }
.container input[type=checkbox] {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0; }
.container input[type=checkbox] + label {
  display: inline-block;
  margin-left: -2.5em;
  line-height: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.container input[type=checkbox]:focus + label {
  color: #4479ba; }
.container input[type=checkbox]:hover + label {
  color: #4479ba; }
.container input[type=checkbox] + label:hover {
  color: #4479ba; }
.container input[type=checkbox]:checked + label > i.fa-square-o {
  display: none; }
.container input[type=checkbox]:checked + label > i.fa-check-square-o {
  display: inline-block;
  letter-spacing: 0.5em; }
.container input[type=checkbox] + label > i.fa-square-o {
  display: inline-block;
  letter-spacing: 0.65em; }
.container input[type=checkbox] + label > i.fa-check-square-o {
  display: none; }

/*# sourceMappingURL=data-entry.css.map */
