@import 'application';

$light-gray: #E0E0E0;
$medium-gray: #C8C8C8;
$dark-gray: #505050;
$light-blue: #4479BA;
$medium-blue: #356AA0;
$dark-blue: #356094;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.dnext-tool-header {
  min-width: 667px;
  max-width: 820px;
  background-color: $light-gray;
  //display: block;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  overflow: auto;

  border: solid $dark-gray 1px;
  @include border-top-radius(10px);
  border-bottom: none;

  .dnext-title {
    float: left;
    width: 75%;
    padding: 5px;
    color: rgb(85, 85, 85);
    font: {
      family: 'Open Sans', Verdana, sans-serif;
      weight: bold;
      size: 18px;
    }
    clear: both;
  }

  .dnext-help-link {
    float: right;
    width: 20%;
    padding: 5px;
    a {
      float: right;
      color: rgb(29, 157, 217);
      text-decoration: none;
      font: {
        family: 'Open Sans', Verdana, sans-serif;
        weight: bold;
        size: 18px;
        style: normal;
      }
      clear: both;
    }
    a:hover {
      color: lighten(rgb(29, 157, 217), 20%);
    }
  }

  .dnext-help-text {
    clear: both;
    padding: 5px;
    display: none;
    p,li {
      color: #646464;
      font: {
        family: 'Open Sans', Verdana, sans-serif;
        weight: normal;
        size: 16px;
      }
    }
  }
}

.dnext-tool-container {
  @include clearfix;
  background: $medium-gray;
  min-width: 667px;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid $dark-gray 1px;
  @include border-bottom-radius(10px);

  .jxgbox {
    background: white;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    vertical-align: top;
    box-sizing: border-box;
    border: solid $medium-blue 1px;
    @include border-radius(10px);
  }

  a {
    font: {
      family: 'Open Sans', Verdana, sans-serif;
      size: 14px;
    }
  }

  .regular-text {
    font: {
      family: 'Open Sans', Verdana, sans-serif;
      size: 1.21em;
    }
  }

  .math-text {
    font-size: 110%;
  }

  .center-series {
    color: blue;
  }

  .function {
    color: red;
  }

  .taylor-polynomial {
    color: green;
  }

  #center-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #degree-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #radius-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .line {
    width: 100%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
  }

  .full-line {
    @extend .line;
    margin-top: 20px;
  }

  .half-line {
    @extend .line;
    margin-top: 10px;
  }

  .quarter-line {
    @extend .line;
    margin-top: 5px;
  }
}
