.jxgbox1 {
    width: 350px;
    height: 300px;
    float: left;
    border: solid #1f628d 1px;
}

.jxgbox2 {
    width: 350px;
    height: 300px;
    margin-left: 375px;
    border: solid #1f628d 1px;
}

