@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    width: 100%;
    height: 500px;
  }

  .curve {
    color: blue;
  }

  #a-slider, #b-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
