@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    width: 100%;
    height: 500px;
  }

  .series-item {
    color: red;
  }

  .series-sum {
    color: blue;
  }

  #n-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
