@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    width: 100%;
    height: 500px;
  }

  .amplitude {
    color: red;
  }

  .f-function {
    color: red;
  }

  .g-function {
    color: blue;
  }

  #amplitude-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
