@import 'calculus';

.dnext-tool-container {
  .jxgbox  {
    @extend .jsxgraph-box;
    width: 49%;
    height: 300px;
    float: right;
    margin-bottom: 0px;
  }

  .control-panel {
    background: $light-gray;
    width: 49%;
    height: 300px;
    float: left;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    border: solid $medium-blue 1px;
    @include border-radius(10px);
  }

  .velocity-speed-function {
    color: black;
  }

  .intf-curve {
    color: $sedona;
  }

  .f-curve {
    color: blue;
  }

  #x-slider, #a-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
