@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    height: 250px;
  }

  .controls {
    width: 79%;
    float: right;
  }

  .height-function {
    color: green;
  }

  .velocity-function {
    color: blue;
  }

  #anim-board {
    width: 19%;
    float: left;
  }

  #height-graph-board {
    width: 79%;
    float: right;
  }

  #velocity-graph-board {
    width: 79%;
    float: right;
  }

  #t-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
