@import 'calculus';

.dnext-tool-container {
  .controls {
    width: 100%;
    background: $light-gray;
    height: 520px;
    float: left;
    padding: 20px;
    @include border-radius(10px);
  }

  .f-function {
    color: blue;
  }

  .g-function {
    color: red;
  }

  .fpowg-function {
    color: purple;
  }

  .line-col1 {
    margin-top: 20px;
    width: 30%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
  }

  .line-col2 {
    margin-top: 20px;
    width: 60%;
    padding-left: 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
  }

  #x0-slider {
    width: 400px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
