@import '../../base/fonts';
@import '../../base/variables';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.dnext-tool-header {
  min-width: 667px;
  max-width: 820px;
  background-color: $light-gray;
  //display: block;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  overflow: auto;

  border: solid $dark-gray 1px;
  @include border-top-radius(10px);
  border-bottom: none;

  .dnext-title {
    float: left;
    width: 75%;
    padding: 5px;
    color: rgb(85, 85, 85);
    font: {
      family: 'Open Sans', Verdana, sans-serif;
      weight: bold;
      size: 18px;
    }
    clear: both;
  }

  .dnext-help-link {
    float: right;
    width: 20%;
    padding: 5px;
    a {
      float: right;
      color: rgb(29, 157, 217);
      text-decoration: none;
      font: {
        family: 'Open Sans', Verdana, sans-serif;
        weight: bold;
        size: 18px;
        style: normal;
      }
      clear: both;
    }
    a:hover {
      color: lighten(rgb(29, 157, 217), 20%);
    }
  }

  .dnext-help-text {
    clear: both;
    padding: 5px;
    display: none;
    p,li {
      color: #646464;
      font: {
        family: 'Open Sans', Verdana, sans-serif;
        weight: normal;
        size: 16px;
      }
    }
  }
}

.dnext-tool-container {
  @include clearfix;
  background: $medium-gray;
  min-width: 667px;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid $dark-gray 1px;
  @include border-bottom-radius(10px);

  .jxgbox {
    background: white;
    width: 250px;
    height: 250px;
    float: right;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
    border: solid $medium-blue 1px;
    @include border-radius(10px);
  }

  .controls {
    @include calc(width, "100% - 270px");
    background: $light-gray;
    height: 520px;
    float: left;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    border: solid $medium-blue 1px;
    @include border-radius(10px);
  }

  #height-graph-board {
    margin-bottom: 20px;
  }

  a {
    font: {
      family: 'Open Sans', Verdana, sans-serif;
      size: 14px;
    }
  }

  .regular-text {
    font: {
      family: 'Open Sans', Verdana, sans-serif;
      size: 1.21em;
    }
  }

  .math-text {
    font-size: 110%;
  }

  .f-function {
    color: blue;
  }

  .g-function {
    color: red;
  }

  #x0-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .line-col1 {
    margin-top: 20px;
    width: 40%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
  }

  .line-col2 {
    margin-top: 20px;
    width: 40%;
    padding-left: 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
  }

  .line {
    width: 100%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
  }

  .full-line {
    @extend .line;
    margin-top: 20px;
  }

  .half-line {
    @extend .line;
    margin-top: 10px;
  }

  .quarter-line {
    @extend .line;
    margin-top: 5px;
  }
}
