@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    width: 250px;
    height: 250px;
    float: right;
    margin-bottom: 0px;
  }

  .controls {
    @include calc(width, "100% - 270px");
    background: $light-gray;
    height: 520px;
    float: left;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    border: solid $medium-blue 1px;
    @include border-radius(10px);
  }

  .f-function {
    color: blue;
  }

  .g-function {
    color: red;
  }

  .line-col1 {
    margin-top: 20px;
    width: 40%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
  }

  .line-col2 {
    margin-top: 20px;
    width: 40%;
    padding-left: 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
  }

  #height-graph-board {
    margin-bottom: 20px;
  }

  #x0-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
