@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    height: 250px;
  }

  .st-function {
    color: blue;
  }

  #anim-board {
    width: 49%;
    float: left;
  }

  #graph-board {
    width: 49%;
    float: right;
  }

  #t-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
