@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    height: 250px;
  }

  .controls {
    width: 100%;
    position: relative;
  }

  .position-function {
    position: absolute;
    color: green;
  }

  .velocity-function {
    position: absolute;
    left: 125px;
    color: blue;
  }

  .acceleration-function {
    position: absolute;
    left: 300px;
    color: red;
  }

  #height-graph-board {
    width: 100%;
  }

  #velocity-graph-board {
    width: 100%;
  }

  #t-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
