@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    width: 100%;
    height: 500px;
  }

  .math-text {
    font-size: 110%;
    vertical-align: middle;
  }

  .a-point {
    color: red;
  }

  .function {
    color: #444444;
  }

  .secant-line {
    color: blue;
  }

  #curve-select-menu {
    width: 125px;
  }

  #a-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
