@import 'calculus';

.dnext-tool-container {
  .jxgbox {
    @extend .jsxgraph-box;
    height: 250px;
  }

  .velocity-speed-function {
    color: black;
  }

  #height-graph-board {
    width: 49%;
    float: left;
  }

  #velocity-graph-board {
    width: 49%;
    float: right;
  }

  #t-slider {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
